#next,
#back {
}

.container {
}

#depositante {
  margin-left: 35px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);

  box-sizing: border-box;
}

#deposito {
  margin-left: 20px;
}

hr {
  border-style: dashed;
  border-top-width: 4px;
}
